del, ins, u, s, a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 999px #fff inset;
  box-shadow: 0 0 0 999px #fff inset;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input:focus {
  border: none;
  outline: none;
  *border: 0;
  *outline: 0;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #bdbdbd;
  line-height: 42px;
  height: 42px;
}

input::-moz-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #bdbdbd;
}

input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #bdbdbd;
}

input::-o-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #bdbdbd;
}

.login_mask {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  z-index: 10001;
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  pointer-events: none;
}

.login_mask, .login_mask:before {
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
}

.login_mask.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.login_mask:before {
  content: " ";
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,.8);
}

.login_panel {
  background: #fff;
  width: 5.2rem;
  height: 100%;
  position: fixed;
  z-index: 10002;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  padding: 0 .3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.login_panel.show {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.login_panel .login_head {
  padding-top: .5rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login_panel .login_head .avatar {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.login_panel .login_head .avatar img {
  width: 100%;
  height: 100%;
  display: block;
}

.login_panel .login_head .nickname {
  padding-top: .13rem;
  font-size: .28rem;
  color: #888;
  max-width: 4rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
}

.login_panel .login_list {
  margin-top: .5rem;
}

.login_panel .login_list ul {
  display: block;
  width: 100%;
}

.login_panel .login_list .l_item {
  height: .9rem;
  line-height: .9rem;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  text-align: left;
  font-size: 0;
}

.login_panel .login_list .l_item a {
  display: block;
}

.login_panel .login_list .icon-mail {
  color: #f33;
  top: 0;
  font-size: 22px;
}

.login_panel .login_list .icon-comment {
  color: #f90;
  font-size: 21px;
  top: 0;
  left: 2px;
}

.login_panel .login_list .icon-logout {
  color: #36f;
  font-size: 22px;
  top: 0;
}

.login_panel .login_list .i_icon,.login_panel .login_list .icon_qq,.login_panel .login_list .icon_weibo,.login_panel .login_list .icon_wx,.login_panel .login_list .icon_wy {
  -webkit-background-size: contain;
  background-size: contain
}

.login_panel .login_list .i_icon {
  width: .5rem;
  height: .5rem;
  display: inline-block;
  position: relative;
  top: .1rem;
}

.iconfont {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.login_panel .login_list .i_title {
  padding-left: .3rem;
  display: inline-block;
  font-size: .28rem;
  color: #404040;
}

.login_panel .login_list .i_num {
  float: right;
  font-size: .28rem;
  color: #888;
  display: inline-block;
}

.login_panel .not_logined .l_item:last-child {
  padding-bottom: .5rem;
  border: none;
}

.login_panel .login_list .not_logined .l_item:first-child {
  height: auto;
  min-height: 1.2rem;
}

.login_panel .login_module {
  margin: 0 auto;
  position: relative;
  left: -10000px;
}

.input-box {
  border: 1px solid #c5cddb;
  margin-bottom: 0;
  background: #fff;
  width: 196px;
  height: 40px;
  line-height: 40px;
  border-radius: 2.45px;
  font-size: 0;
}

.input-box.active {
  border: 1px solid #4aafe9;
}

.input-box.error-color {
  border: 1px solid #fa6060;
}

.fur-change-email {
  position: relative;
  width: 166.6px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}

.u-logo {
  width: 21.56px;
  padding: 0 4.9px 0 9.8px;
  float: left;
  text-align: center;
  height: 100%;
}

.u-logo div {
  margin-top: 6.37px;
  width: 21.56px;
  height: 23.52px;
  display: inline-block;
}

.u-logo-img1 {
  background: url(/img/login_bg.png) 0 0 no-repeat;
  background-size: cover;
}

.u-logo-img2 {
  background: url(/img/login_bg.png) 0 bottom no-repeat;
  background-size: cover;
}

.u-input {
  position: relative;
  float: left;
  height: 100%;
}

.u-input input {
  height: 27.44px;
  width: 122.5px;
  line-height: 1;
  padding: 4.9px 0;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #333;
  border: 0;
}

.loginbox {
  margin-top: 16px;
  margin-bottom: 12px;
}

.u-loginbtn {
  display: block;
  width: 100%;
  height: 44px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #ddd;
  font-size: 18px;
  line-height: 44px;
}

#dologin {
  background: #f33;
  border-radius: 4.9px;
  height: 34.3px;
  font-size: 11.76px;
  line-height: 34.3px;
}

.u-loginbtn:hover {
  color: #fff;
}

.u-loginbtn:active {
  color: #edc8c8;
  opacity: 0.5;
}

.m-unlogin {
  padding: 2px 0 9px 0;
  font-size: 0;
  height: 16px;
  line-height: 16px;
}

.m-unlogin .forgetpwd, .m-unlogin .forgetpwdReg {
  float: left;
  height: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  line-height: 16px;
  *padding-left: 5px;
}

.m-unlogin .u-regbtn.bgcolor {
  color: #999;
}

.m-unlogin .u-regbtn {
  cursor: pointer;
  font-size: 12px;
  float: right;
  line-height: 16px;
}

.m-nerror {
  top: -31px;
  left: -1px;
  line-height: initial;
  color: #fff;
  border-radius: 2px;
  font-size: 0;
  *top: -40px;
  margin-bottom: 0px;
  margin-top: 16px;
}

.m-nerror div {
  display: inline-block;
  overflow: hidden;
  *display: inline;
  *zoom: 1;
}

.m-nerror .ferrortail {
  height: 15px;
  width: 18px;
  background-position: -217px -34px;
  *position: relative;
  *top: 0;
}

.ferrortail, .u-success {
  background: url(/img/login_sprite.png) -9999px -9999px no-repeat;
  _background: url(/img/login_sprite.png) -9999px -9999px no-repeat;
}

.m-nerror .ferrorhead {
  width: 171.5px;
  margin-top: -3px;
  color: #fa5b5b;
  font-size: 11.76px;
  line-height: 20px;
  vertical-align: top;
  word-break: break-all;
}

.f-dn {
  display: none !important;
}

.u-tip {
  padding: 0 3px 0 0;
  display: none;
  float: right;
  height: 100%;
}

.u-success {
  margin-top: 10.29px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.u-clear {
  background-position: -147px -89px;
}
